.large-icon {
	width: 50px;
	height: auto;
	opacity: .4;
	margin: 0 20px;
}

.large-icon:hover {
	opacity: .9;
}

.small-icon {
	width: 20px;
	height: auto;
	opacity: .4;
	margin: 0 5px;
}

.small-icon:hover {
	opacity: .9;
}

.project_heading {
	font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2em;
}

.project_tag {
	background-color: white;
	color: black;
	border-radius: 5px;
	height:10px;
	padding: 2px;
	font-weight: 700;
}

.title_rect {    
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    min-height: 300px;
    padding: 100px 0
}

hr {
	margin: 0;
}